name: Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  static-analysis:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8.1, 8.2]

    name: Code analysis with PHPStan PHP ${{ matrix.php }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: composer install

      - name: Execute PHPStan analysis
        run: vendor/bin/phpstan --xdebug analyze src --level 8

  tests:
    runs-on: ubuntu-latest

    needs:
      - static-analysis  

    strategy:
      fail-fast: true
      matrix:
        php: [8.1, 8.2]

    name: Unit tests PHP ${{ matrix.php }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: composer install

      - name: Execute tests
        run: vendor/bin/phpunit --verbose

  mutation-tests:
    runs-on: ubuntu-latest

    needs:
      - tests

    strategy:
      fail-fast: true
      matrix:
        php: [8.1, 8.2]

    name: Mutation tests with Infection PHP ${{ matrix.php }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: composer install

      - name: Execute mutation tests
        run: ./vendor/bin/infection --min-msi=40